<bcgov-header>
  <img
    slot="logo"
    src="https://www2.gov.bc.ca/assets/download/6124280C12B44DA492667E23E8BC38BF"
    alt="Branding logo"
  />
  <div class="test" slot="headline">Design System<bcgov-beta></bcgov-beta></div>
  <a slot="hidden-link" aria href="#main-navigation">Skip to navigation</a>
  <a slot="hidden-link" aria href="#main-content">Skip to Contents</a>
  <a slot="hidden-link" aria href="accessibility"
    >Skip to Accessibility Statement</a
  >

  <!--<bcgov-button button-style="dark">Download</bcgov-button>-->
  <div class="header-button-container">
    <bcgov-button
      button-style="dark"
      link="https://github.com/bcgov/design-system-temporary"
      >View on Github</bcgov-button
    >
  </div>

  <bcgov-button button-style="hamburger" target="main-navigation"
    >Menu</bcgov-button
  >
</bcgov-header>
